.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.background-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow-y:hidden;
}

.parallax-background {
  min-height:100vh;
  width:100vw;
  background-position: left top;
  background-size: cover;
  z-index: -1;
  overflow-y: hidden;
  position: absolute;
  top:0;
  left:0;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  flex-shrink: 0;
}



.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1)*/; /* Use RGBA for semi-transparent background */
  overflow: hidden; /* Hide any content that exceeds the container */
}

